<section id="new-status">
  <h2>New monolog</h2>
  <form action="">
    <div>
      <textarea rows="8" cols="40"></textarea>
    </div>
    <div>
      <input type="submit" value="Post">
    </div>
  </form>
</section>

<section id="statuses">
  <h2>Monologs</h2>
  <ul></ul>
</section>
